.bg-blue {
    background-color: rgb(141, 223, 223);
}


.header-bg-image {
    background-image: url(./img/pattern.png)
}


.title-font {
    font-weight:bold;
}


.logo-padding {
    padding: 20px 0px;
}

.margin {
    width: 80%;
    margin: auto;
}


.logo-margin {
    margin-left: 100px;
}


.text-margin-bottom {
    margin-bottom: 0;
}


.text-margin-top {
    margin-top: 0;
}


.author-text {
    color: darkgray;
}

.photo-text {
    font-size: 10px;
}

.text-size {
    font-size: 13px;
}


.table-layout {
    table-layout:auto;
    width:100%;
}


.table-head-color-darkblue{
    background-color: rgb(70, 70, 206)
}

.table-color-blue {
    background-color: rgb(135, 157, 206)
}


.table-head-font {
    color: white
}


.footer-text{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}


.footer-bg {
    background-color:rgb(107, 107, 190);
}